.git
.github

.venv
venv
env

__pycache__
*.py[cod]
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.ipynb_checkpoints

.env
.env.*
!.env.example
!.env.production.example

tests
notebooks

data/01_raw
data/02_bronze
data/03_silver
data/04_silver

data/**/*.csv
data/**/*.dbf
data/**/*.DAT
data/**/*.zip

*.log

docs
README.md