# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/*
!logs/.gitkeep

*.log

# Build / Distribution
build/
dist/
*.egg-info/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Data (Ignore contents but keep folders)
data/01_raw/*
!data/01_raw/.gitkeep

data/02_staging/*
!data/02_staging/.gitkeep

data/03_warehouse/*
!data/03_warehouse/.gitkeep

data/04_silver/*
!data/04_silver/.gitkeep

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary Files
*.tmp
*.bak
*.swp